body {
  background-color: rgb(68, 65, 65);
  text-align: center;
  margin: 0;
}
.container {
  margin-top: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tile1 tile2 tile3 tile4 tile5 tile6 tile7 tile8 tile9 tile10 tile11 tile12"
    "tileSecond-1 tileSecond-2 tileSecond-3 tileSecond-4 tileSecond-5 tileSecond-6 tileSecond-7 tileSecond-8 tileSecond-9 tileSecond-10 tileSecond-11 tileSecond-12";
}

.container > div {
  background-color: rgb(197, 192, 192);
  height: 100px;
}

.tile1 {
  grid-area: tile1;
}

.tile2 {
  grid-area: tile2;
}

.tile3 {
  grid-area: tile3;
}

.tile4 {
  grid-area: tile4;
}

.tile5 {
  grid-area: tile5;
}

.tile6 {
  grid-area: tile6;
}

.tile7 {
  grid-area: tile7;
}

.tile8 {
  grid-area: tile8;
}

.tile9 {
  grid-area: tile9;
}

.tile10 {
  grid-area: tile10;
}

.tile11 {
  grid-area: tile11;
}

.tile12 {
  grid-area: tile12;
  background-color: #fff !important;
}

.tileSecond-1 {
  grid-area: tileSecond-1;
}

.tileSecond-2 {
  grid-area: tileSecond-2;
}

.tileSecond-3 {
  grid-area: tileSecond-3;
}

.tileSecond-4 {
  grid-area: tileSecond-4;
}

.tileSecond-5 {
  grid-area: tileSecond-5;
}

.tileSecond-6 {
  grid-area: tileSecond-6;
}

.tileSecond-7 {
  grid-area: tileSecond-7;
}

.tileSecond-8 {
  grid-area: tileSecond-8;
}

.tileSecond-9 {
  grid-area: tileSecond-9;
}

.tileSecond-10 {
  grid-area: tileSecond-10;
}

.tileSecond-11 {
  grid-area: tileSecond-11;
}

.tileSecond-12 {
  grid-area: tileSecond-12;
  background-color: #fff !important;
}

.car1 {
  color: rgb(52, 173, 82);
  font-size: 30px;
}

.car2 {
  color: rgb(238, 14, 51);
  font-size: 30px;
}

.goBtn {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(248, 245, 245);
  border: none;
}

.resetBtn {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(248, 245, 245);
  border: none;
}
